<div class="col-md-12">
  <h2>项目列表</h2>
  <div class="group">

  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>名称</th>
        <th>描述</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td>#</td>
          <td><%= link_to(project.name, project_path(project)) %></td>
          <td><%= project.remark %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
