<div class="col-md-4 col-md-offset-4">
  <%= simple_form_for [:admin, @project,@product] do |f| %>
    <div class="form-group">
      <%= f.input :name, input_html: { class: "form-control"} %>
      <%= f.input :remark, input_html: { class: "form-control"} %>
    </div>
    <div class="form-actions">
      <%= f.submit "提交", disable_with: "提交中...", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
